# App
APP_TITLE=scraper
APP_VERSION=0.0.1
APP_ROOT_PATH=/api
APP_DEBUG=true
APP_PRODUCTION=false
APP_SWAGGER=true
APP_LOG_LEVEL=DEBUG

# Server
SERVER_TYPE=granian
SERVER_HOST=0.0.0.0
SERVER_PORT=8080
SERVER_WORKERS=auto
SERVER_THREADS=1
SERVER_METHODS=["*"]
SERVER_HEADERS=["*"]
SERVER_ORIGINS=["*"]

# Database
DB_URI=postgresql+asyncpg://{}:{}@{}:{}/{}
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=54522
DB_CONNECTION_POOL_SIZE=10
DB_CONNECTION_MAX_OVERFLOW=90
DB_CONNECTION_POOL_PRE_PING=true

# External APIs
BOOKS_TO_SCRAPE_BASE_URL=https://books.toscrape.com/
